arduino_example.json
[{"id":"7f807755.5d0158","type":"tab","label":"Flow 3"},{"id":"843cf1de.847ac","type":"inject","z":"7f807755.5d0158","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":194,"y":74,"wires":[["b77bc2a1.0e8c"]]},{"id":"843099aa.ef0998","type":"arduino out","z":"7f807755.5d0158","name":"","pin":"13","state":"OUTPUT","arduino":"8e5393b6.604d3","x":614.5,"y":74,"wires":[]},{"id":"b77bc2a1.0e8c","type":"function","z":"7f807755.5d0158","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":74,"wires":[["843099aa.ef0998"]]},{"id":"aa5e18c3.3b1dc8","type":"ui_switch","z":"7f807755.5d0158","tab":"a88066b8.1444e8","name":"On/Off","topic":"","group":"Cooler","order":1,"onvalue":"100","offvalue":"0","x":161,"y":160,"wires":[["b6a1b818.68ce88"]]},{"id":"b6a1b818.68ce88","type":"rpi-gpio out","z":"7f807755.5d0158","name":"Orange_LED","pin":"11","set":false,"level":"0","out":"pwm","x":422.5,"y":160,"wires":[]},{"id":"758deb39.8c4254","type":"ui_slider","z":"7f807755.5d0158","tab":"a88066b8.1444e8","name":"percentage","topic":"","group":"Cooler","order":"2","min":0,"max":"100","x":194,"y":233,"wires":[["b6a1b818.68ce88"]]},{"id":"3f3a3905.1e74a6","type":"rpi-gpio in","z":"7f807755.5d0158","name":"btn_EmailMe","pin":"13","intype":"up","debounce":"25","read":false,"x":187,"y":317,"wires":[["ce7e1f4d.f1b4f","2868e97c.b222f6"]]},{"id":"ce7e1f4d.f1b4f","type":"e-mail","z":"7f807755.5d0158","server":"smtp.gmail.com","port":"465","name":"yourUserName@gmail.com","dname":"to J3 Email","x":415.5,"y":317,"wires":[]},{"id":"2868e97c.b222f6","type":"ui_text","z":"7f807755.5d0158","tab":"a88066b8.1444e8","name":"EmailToMe","group":"Alarm System","order":"3","format":"{{msg.payload}}","x":427,"y":371,"wires":[]},{"id":"4f6df1f5.f82c","type":"ui_slider","z":"7f807755.5d0158","tab":"a88066b8.1444e8","name":"actuator1","topic":"","group":"Living Room Curtain","order":"3","min":0,"max":"180","x":184,"y":450,"wires":[["7767a79c.5d65f8","65db7980.7dd3a8"]]},{"id":"7767a79c.5d65f8","type":"ui_gauge","z":"7f807755.5d0158","tab":"a88066b8.1444e8","name":"Angle","group":"Living Room Curtain","order":1,"format":"{{value}}","min":0,"max":"180","x":393,"y":447,"wires":[]},{"id":"65db7980.7dd3a8","type":"arduino out","z":"7f807755.5d0158","name":"Pin 9","pin":"9","state":"SERVO","arduino":"8e5393b6.604d3","x":387,"y":500,"wires":[]},{"id":"8e5393b6.604d3","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"a88066b8.1444e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
