Arduino_AI_log.json
[{"id":"70876c72.e96ed4","type":"inject","z":"5c0ade5b.faad3","name":"1s tick","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":140,"y":260,"wires":[["90eba570.fbb408"]]},{"id":"847f499e.b0dd58","type":"arduino out","z":"5c0ade5b.faad3","name":"Arduino-UNO","pin":"13","state":"OUTPUT","arduino":"36ad87ab.d38e18","x":580.5,"y":260,"wires":[]},{"id":"90eba570.fbb408","type":"function","z":"5c0ade5b.faad3","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":260,"wires":[["847f499e.b0dd58"]]},{"id":"9adbbba1.689388","type":"function","z":"5c0ade5b.faad3","name":"Scale","func":"var msg_o = Number(msg.payload);\n    msg.payload /=10 ;\n    msg.payload = Math.round(msg.payload*100/100)\n    //msg.topic = '~V';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["538bf26f.f3fffc"]]},{"id":"2c008b8c.32cb94","type":"arduino out","z":"5c0ade5b.faad3","name":"AO-10","pin":"10","state":"PWM","arduino":"36ad87ab.d38e18","x":610,"y":480,"wires":[]},{"id":"85f1e439.b53058","type":"ui_gauge","z":"5c0ade5b.faad3","name":"","group":"760cfc06.5a86ec","order":0,"width":0,"height":0,"gtype":"gage","title":"AI-0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":380,"wires":[]},{"id":"b1f8f75a.0d3518","type":"arduino in","z":"5c0ade5b.faad3","name":"","pin":"0","state":"ANALOG","arduino":"36ad87ab.d38e18","x":110,"y":440,"wires":[["9adbbba1.689388"]]},{"id":"538bf26f.f3fffc","type":"rbe","z":"5c0ade5b.faad3","name":"change","func":"deadbandEq","gap":"5%","start":"","inout":"out","x":406,"y":398,"wires":[["2c008b8c.32cb94","85f1e439.b53058","94be186b.41ad1","52d43f1a.a72c58"]]},{"id":"94be186b.41ad1","type":"ui_chart","z":"5c0ade5b.faad3","name":"","group":"760cfc06.5a86ec","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":592.5,"y":320,"wires":[[],[]]},{"id":"42607d1e.8f16ac","type":"file","z":"5c0ade5b.faad3","name":"","filename":"D:/Arduino_A0.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":610,"y":720,"wires":[]},{"id":"52d43f1a.a72c58","type":"function","z":"5c0ade5b.faad3","name":"add timestamp","func":"var dt = new Date();\nmsg.payload = \n\t{\n\t\ntimestamp:dt.toString(),\n//Add as many serial data needed,\n\tserial:msg.payload\n\t}\nreturn msg;","outputs":"1","noerr":0,"x":580,"y":540,"wires":[["a06fb7a5.dd4d5"]]},{"id":"a06fb7a5.dd4d5","type":"csv","z":"5c0ade5b.faad3","name":"","sep":",","hdrin":false,"hdrout":false,"multi":"mult","ret":"\\n","temp":"timestamp, serial","x":570,"y":640,"wires":[["42607d1e.8f16ac","5ee721d1.5f31c8"]]},{"id":"5ee721d1.5f31c8","type":"debug","z":"5c0ade5b.faad3","name":"","active":true,"console":"false","complete":"false","x":610,"y":780,"wires":[]},{"id":"36ad87ab.d38e18","type":"arduino-board","z":"","device":"COM3"},{"id":"760cfc06.5a86ec","type":"ui_group","z":"","name":"Controls","tab":"c8eedc00.f5b67","order":6,"disp":false,"width":"8"},{"id":"c8eedc00.f5b67","type":"ui_tab","z":"","name":"Home","icon":"home"}]
